@font-face {
    font-family: 'Machine-Regular';
    src: url("fonts/") format("otf"),
         url("fonts/ITC\ Machine\ Std\ Bold.otf Machine Std Bold.otf") format("otf"),
         url('fonts/ITC\ Machine\ Std\ Bold.otf') format('otf');

    font-family: 'Machine-Regular';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url("fonts/ITC\ Machine\ Std\ Bold.otf") format("otf");
    font-family: 'Machine';
    font-weight: light;
}
    
@font-face {
    font-family: 'Machine-Regular';
    src: url("fonts/") format("otf"),
         url("fonts/ITC\ Machine\ Std\ Bold.otf Machine Std Bold.otf") format("ttf"),
         url('fonts/ITC\ Machine\ Std\ Bold.otf') format('otf');
}

@font-face {
    font-family: 'Machine';
    src: url("fonts/") format("otf"),
         url("fonts/ITC\ Machine\ Std\ Bold.otf Machine Std Bold.otf") format("ttf"),
         url('fonts/ITC\ Machine\ Std\ Bold.otf') format('otf');
}

@font-face {    
    font-family: 'Machine';
    src: url("fonts/") format("otf"),
         url("fonts/ITC\ Machine\ Std\ Bold.otf Machine Std Bold.otf") format("ttf"),
         url('fonts/ITC\ Machine\ Std\ Bold.otf') format('otf');
}

body {
    background-color: #7e7ece;
    font-family: 'Machine-Regular'; 
}

.variations-container {
    display: grid;
    grid-area:auto; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    
}
        

    .font1 {
        /* align-self: start; */
        font-family: 'Machine-Regular';
        color:rgb(254, 254, 254)
    }
    .header1 {
        /* align-self: start; */
        font-family: 'Machine-Regular';
        color:rgb(134, 136, 240)
    }
      

    .font2 {
        /* align-self: start; */
        font-family: 'Machine-Regular';
        color:antiquewhite
      }

      .header2 {
        /* align-self: start; */
        font-family: 'Machine-Regular';
        color:rgb(178, 142, 245)
    }

    .font3 {
        /* align-self: start; */
        font-family: 'Machine-Regular';
        color:antiquewhite
    }
    .header3 {
        /* align-self: start; */
        font-family: 'EMachine-Regularr';
        color:antiquewhite
    }
      

    .paragraphs {
        display: flex;
    }
      
    .paragraphs p {
        flex: 1;
        margin-right: 10px; /* Adjust as needed */
    }
    
    
 

    
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

/* @media only screen and (min-width:800px){
    .page-wrapper{
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "h v"
            "a a";
    }

    .history {
        grid-area: h;
    }

    .variations{
        grid-area: v;
    }

    .alphabet {
        grid-area: a;
    }
}

/* CSS for the footer */
footer{
    background-color: rgb(159, 154, 244);
}

/* variable font animation */
h1 {
    font-weight:100; 
    text-align: center;
    font-size: 8em;
    animation: weightChange 5s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-weight:100;
    }
    50%{font-weight:700;
    }
    
}

/* variable font that changes on hover */
.variable-font {
    font-weight: 1;
    height: 100vh;
    font-size: 10em;
    display: grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 3;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}




.content {
    grid-area: c;
}

footer {
    grid-area: f;
    padding: 20px;
    background-color: #7e7ece;
    font-family: "Machine-Regular";
    text-align: center;
}

#fontdisplay {
    padding: 0em 11em;
    
}

.paragraphs > p {
    text-align:justify;
    margin: 0em 3em;
    padding-right: 4em; 
    padding-left: 4em;
  }

.variations {
    font-family: 'Machine-Regular';
    color:#000084

}
.history {
    font-family: 'Machine-Regular';
    color:white


}
.history2 {
    font-family: 'Machine-Regular';
    color:white
        
}



  
.stuff{
    font-family: "Jost";
    color:white;
    margin: 0em 7em;
}

.stuff > p {
    text-align:center, justify;
    margin: 0em 3em;
    padding: 0em 3em;
    padding-right: 5em; 
    padding-left: 5em;
}

.shadow {
    background-color: #3a44b2;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position:relative 
}
.shadow {

    bottom: -1100px; 
    right: -1500px;  
    padding: 10px 20px;
}

.shadow:hover {
    background-color: hsl(247, 46%, 51%);
}

.shadow{
    font-family: 'Machine-Regular';
    color: white
}

.Machine_Title{
    font-family: 'Machine-Regular';
    color: white
}

.Machine_Title{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;


    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
        /*font-family: 'EurocatSans' 'EurocatBase' 'Eurocat'; */

}


h5{
            font-weight:100; 
            text-align: center;
            font-size: 8em;
            animation: weightChange 5s infinite;
            color: white
            
        }
        
        @keyframes weightChange {
            0%, 100%{
                font-weight:100;
            }
            50%{font-weight:700;
                color: blue;
               
            }
            
            
}
.Info1 {
font-family: "MMachine";
text-align: justify;
color: white


}

.Info2 {
font-family: "Machine-Regular";
color: white

}

.Info3 {
font-family: "Machine-Regular";
color: white

}

.Info4{
font-family: "Machine-Regular";
color: white

}




/*.container {
    display: inline-flex; 
}.half-width3,
.half-width4 {
  width: 0%;
  margin: 0em 2em; 
  padding-right: 4em; 
  padding-left:  8em;
}.left-justified3,
.left-justified4{
    text-align: left;
    color: white;
    font-family: 'EurocatBase-Regular';
  }

  .container {
    display: inline-flex; 
}.half-width,
.half-width2{
  width: 60%;
  margin: 2em 3em;  
  padding-right: 2em;
  padding-left: 4em; 
}

.left-justified,
.left-justified2{
    text-align: left;
    color: white;
    font-family: 'EurocatBase-Regular';
  }

